.cover__paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  max-width: 360px;
  max-height: 66px;
}

@media screen and (max-width: 320px) {
  .cover__paragraph {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    
  }
}