.page {
    width: 1280px;
    height: 6875px;
    margin: 0 auto;
    font-family: "Inter", serif;
    background: #2A2C2F;
    color: #FFFFFF;
}

.header {
    display: flex;
    justify-content: space-between;
}

.lang {
    display: flex;
    margin-top: 46px;
    margin-right: 48px;
    justify-content: space-between;
    gap: 18px;
}

.lang_link_ru {
    text-decoration-line: underline;
}

.logo_place_header {
    width: 176px;
    height: 52px;
    margin-left: 48px;
    margin-top: 28px;
}

.lead {
    display: flex;
    width: 984px;
    height: 1005px;
    flex-direction: column;
    text-align: center;
    margin-top: 56px;
    margin-right: 148px;
    margin-left: 148px;
}

.lead__title {
    margin: 0 132px 32px;
    width: 720px;
    height: 200px;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;

}

.lead__subtitle {
    width: 640px;
    height: 72px;
    margin-left: 172px;
    margin-right: 172px;
    margin-bottom: 64px;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
}

.image {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0;
    padding: 0;
}

.lead__image {
    width: 100%;
    height: 615px;
    margin: 0;
    padding: 0;
}

.image__text {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.intro {
    width: 690px;
    height: 429px;
    margin: 114px 442px 92px 148px;
}

.intro__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    width: 690px;
    height: 58px;
    margin-bottom: 40px;
}

.intro__text {
    margin-bottom: 33px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
}

.intro__list {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
}
