.cover__text {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  max-width: 560px;
}

@media screen and (min-width: 1025px) and (max-width: 1061px) {
  .cover__text {
    max-width: 500px;
  }
}

@media screen and (min-width: 320px) and (max-width: 560px) {
  .cover__text {
    max-width: 288px;
  }
}