.places__url-heading {
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 0.750em;
  line-height: 12px;
  letter-spacing: 2px;
  margin-bottom: 12px;
  color: #AAAAAA;
}

@media screen and (max-width: 320px) {
  .places__url-heading {
    font-weight: 400;
    margin-left: 16px;
    margin-bottom: 12px;
  }
}