.lang {
  grid-area: link;
  display: flex;
  flex-direction: row;
  column-gap: 18px;
}

@media screen and (max-width: 1024px) {
  .lang {
    grid-area: link;
  }
}

@media screen and (max-width: 768px) {
  .lang {
    grid-area: link;
  }
}