.lang__link {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.500em;
    line-height: 28px;
    color: white;
    margin-top: 18px;
    margin-bottom: 6px;
    text-decoration: none;
}


@media screen and (max-width: 320px) {
    .lang__link {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 1.125em;
        line-height: 20px;
        text-align: right;
    }

}